/* import */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");

@import "./assets/styles/breakpoints";


/* Define Global CSS Variables */

:root {
  --body-font: "Poppins", sans-serif;
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --header-height: 60px;
  --container-mw: 1140px;
  --hover-click-color: #f2f2f3;
  --border-radius: 8px;
  --primary-accent: #e2e8ce;
}

body {
  font-family: var(--body-font);
}

// html,
// body,
// #root {
//   height: 100%;
// }

/* Reset Styles */

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   scroll-behavior: smooth;
//   font-weight: 400;

// }

html,
body,
#root {
  height: 100%;
}

// body {
//   min-height: 100vh;
//   min-width: 320px;
//   font-family: var(--body-font);
//   font-size: 1rem;
//   line-height: 1.5;
//   /* transition: all 0.2s ease-in-out; */
// }

// /* Style Links */

// a {
//     all: unset;
//     text-decoration: none;
//     cursor: pointer;
// }

// button{
//     cursor: pointer;
// }

.clickable:hover {
  background-color: var(--hover-click-color);
  border-radius: var(--border-radius);
}


// ----------- custom scrollbar ---------------

// * {
//   scrollbar-width: thin;
  
// }

// *::-webkit-scrollbar {
//   @apply bg-transparent w-1;
// }


// *::-webkit-scrollbar-thumb {
//   @apply bg-secondary-dark rounded-full;
// }


// .scrollbar-hidden::-webkit-scrollbar-thumb {
//   @apply bg-transparent;
// }

// .scrollbar-hidden:hover::-webkit-scrollbar-thumb {
//   @apply bg-secondary-border;
// }

// ----------- custom scrollbar ---------------

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.secondary.dark') transparent;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.secondary.dark');
  border-radius: theme('borderRadius.full');
  border: 3px solid transparent;
  background-clip: padding-box;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  background-color: theme('colors.secondary.border');
}