.footer {
    background-color: var(--primary-accent);
    font-size: small;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
}